<!DOCTYPE html>
<html>

<head>
    <title>首页</title>
    <link rel="stylesheet" href="https://unpkg.com/iview@3.1.0/dist/styles/iview.css">
    <style type="text/css">
        [v-clock]{
            display: none;
        }
        .layout-con{
            height: 100%;
            width: 100%;
        }
        .menu-item span{
            display: inline-block;
            overflow: hidden;
            width: 69px;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: bottom;
            transition: width .2s ease .2s;
        }
        .menu-item i{
            transform: translateX(0px);
            transition: font-size .2s ease, transform .2s ease;
            vertical-align: middle;
            font-size: 16px;
        }
        .collapsed-menu span{
            width: 0px;
            transition: width .2s ease;
        }
        .collapsed-menu i{
            transform: translateX(5px);
            transition: font-size .2s ease .2s, transform .2s ease .2s;
            vertical-align: middle;
            font-size: 22px;
        }
    </style>
</head>

<body>
    <div v-clock id="app">
        <div class="layout">
            <Layout :style="{ minHeight: '100vh' }">
                <Sider collapsible :collapsed-width="78" v-model="isCollapsed">
                    <i-menu active-name="1-3" theme="dark" width="auto" :class="menuitemClasses">
                        <menu-item name="1-1"> 
                            <Icon type="md-cloud"></Icon>
                            <span>管理后台</span> 
                        </menu-item>
                        <menu-item name="1-2">
                            <Icon type="search"></Icon>
                            <a href="/statistics">数据统计</a>
                        </menu-item>
                        <menu-item name="1-3">
                            <Icon type="search"></Icon>
                            <a href="/article">文章列表</a>
                        </menu-item>
                    </i-menu>
                </Sider> 
                <Layout>
                    <Header :style="{background: '#fff', boxShadow: '0 2px 3px 2px rgba(0,0,0,.1)'}"></Header>
                    <Content :style="{padding: '0 16px 16px'}">
                        <Breadcrumb :style="{margin: '16px 0'}">
                            <breadcrumb-item>文章列表</breadcrumb-item>
                        </Breadcrumb>
                        <Card>
                            <div style="height: 600px">
                                <div style="width: 600px">
                                    <div class="title">文章编辑</div>
                                    <i-form ref="formInline" :model="formInline" :rules="ruleInline">
                                        <form-item prop="title">
                                            <i-input type="text" v-model="formInline.title" placeholder="标题">
                                                <Icon type="ios-person-outline" slot="prepend"></Icon>
                                            </i-input>
                                        </form-item>
                                        <form-item prop="content">
                                            <i-input type="text" v-model="formInline.content" placeholder="内容">
                                                <Icon type="ios-lock-outline" slot="prepend"></Icon>
                                            </i-input>
                                        </form-item>
                                        <form-item>
                                            <i-button long type="primary" @click="handleSubmit('formInline')">提交</i-button>
                                        </form-item>
                                    </i-form>
                                </div>
                            </div>
                        </Card>
                    </Content>
                </Layout>
            </Layout>
        </div>
    </div>
</body>
<script src="/js/vue2.5.17.js"></script>
<script src="/js/vue-resource1.5.1.js"></script>
<script src="/js/iview3.1.0.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data:{
            isCollapsed: false,
            formInline: {
                title: '<%= title %>' || '',
                content: '<%= content %>' || ''
            },
            ruleInline: {
                title: [
                    { 
                        required: true, 
                        message: '请输入文章标题!', 
                        trigger: 'blur' 
                    }
                ],
                content: [
                    { 
                        required: true, 
                        message: '请输入文章内容!', 
                        trigger: 'blur' 
                    }
                ]
            }
        },
        computed: {
            menuitemClasses: function () {
                return [
                    'menu-item',
                    this.isCollapsed ? 'collapsed-menu' : ''
                ]
            }
        },
        methods: {
            show: function() {
                this.visible = true;
            },
            handleSubmit(name) {
                var self = this;
                this.$refs[name].validate((valid) => {
                    Vue.http.post('/article/add', {
                        title: this.formInline.title,
                        content: this.formInline.content 
                    }).then((res) => {
                        if(res.body.status === 0){
                            window.location.href =  res.body.data.url
                        }
                    }, (res)=>{
                        self.$Message.error('请求失败，请查看网络！');
                    });
                })
            }
        }
    })
</script>
</html>