<!DOCTYPE html>
<html>

<head>
    <title>首页</title>
    <link rel="stylesheet" href="https://unpkg.com/iview@3.1.0/dist/styles/iview.css">
    <style type="text/css">
        [v-clock]{
            display: none;
        }
        .layout-con{
            height: 100%;
            width: 100%;
        }
        .menu-item span{
            display: inline-block;
            overflow: hidden;
            width: 69px;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: bottom;
            transition: width .2s ease .2s;
        }
        .menu-item i{
            transform: translateX(0px);
            transition: font-size .2s ease, transform .2s ease;
            vertical-align: middle;
            font-size: 16px;
        }
        .collapsed-menu span{
            width: 0px;
            transition: width .2s ease;
        }
        .collapsed-menu i{
            transform: translateX(5px);
            transition: font-size .2s ease .2s, transform .2s ease .2s;
            vertical-align: middle;
            font-size: 22px;
        }
    </style>
</head>

<body>
    <div v-clock id="app">
        <div class="layout">
            <Layout :style="{ minHeight: '100vh' }">
                <Sider collapsible :collapsed-width="78" v-model="isCollapsed">
                    <i-menu active-name="1-3" theme="dark" width="auto" :class="menuitemClasses">
                        <menu-item name="1-1"> 
                            <Icon type="md-cloud"></Icon>
                            <span>管理后台</span> 
                        </menu-item>
                        <menu-item name="1-2">
                            <Icon type="search"></Icon>
                            <a href="/statistics">数据统计</a>
                        </menu-item>
                        <menu-item name="1-3">
                            <Icon type="search"></Icon>
                            <a href="/article">文章列表</a>
                        </menu-item>
                    </i-menu>
                </Sider>
                <Layout>
                    <Header :style="{background: '#fff', boxShadow: '0 2px 3px 2px rgba(0,0,0,.1)'}"></Header>
                    <Content :style="{padding: '0 16px 16px'}">
                        <Breadcrumb :style="{margin: '16px 0'}">
                            <breadcrumb-item>文章列表</breadcrumb-item>
                        </Breadcrumb>
                        <Card>
                            <div style="height: 600px"> 
                                <a href="/article/add" style="margin-bottom: 20px; display:block;">
                                    <i-button type="primary">添加文章</i-button>
                                </a>
                                <i-table stripe border :columns="columns" :data="data"></i-table>
                            </div>
                        </Card>
                    </Content>
                </Layout>
            </Layout>
        </div>
    </div>
</body>
<script src="/js/vue2.5.17.js"></script>
<script src="/js/iview3.1.0.js"></script>
<script type="text/javascript">
    let data = <%- JSON.stringify(data.list) %>;

    let vm = new Vue({
        el: '#app',
        data:{
            isCollapsed: false,
            columns: [{
                title: 'id',
                key: '_id',
                fixed: 'fixed'
            }, {
                title: '标题',
                key: 'title',
                fixed: 'fixed'
            }, {
                title: '内容',
                key: 'content',
                fixed: 'fixed'
            }, {
                title: '作者',
                key: 'author',
                fixed: 'fixed'
            }, {
                title: '创建时间',
                key: 'created_time',
                fixed: 'fixed'
            }, {
                title: '操作',
                key: 'operation',
                fixed: 'fixed',
                render: (h, params) => {
                    return h('div', [
                        h('Button', {
                            props: {
                                type: 'primary',
                                size: 'small'
                            },
                            style: {
                                marginRight: '5px'
                            },
                            on: {
                                click: () => {
                                    window.location.href = '/article/add?edit=' + vm.$data.data[params.index]._id
                                }
                            }
                        }, '编辑'),
                        h('Button', {
                            props: {
                                type: 'error',
                                size: 'small'
                            },
                            on: {
                                click: () => {
                                    Vue.http.post('/auth/login', {
                                        username: this.formInline.user,
                                        password: this.formInline.password 
                                    }).then((res) => {
                                        if(res.body.status === 0){
                                            window.location.href = res.body.data.url;
                                        }else{
                                           self.$Message.error(res.body.error); 
                                        }
                                    }, (res)=>{
                                        self.$Message.error('请求失败，请查看网络！');
                                    });
                                }
                            }
                        }, '删除')
                    ]);
                }
            }],
            data: data
        },
        computed: {
            menuitemClasses: function () {
                return [
                    'menu-item',
                    this.isCollapsed ? 'collapsed-menu' : ''
                ]
            }
        },
        methods: {
            show: function() {
                this.visible = true;
            }
        }
    })
</script>
</html>