<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> 
  <body>
  	<div class="btn">
  		<a id="redi" href="alipays://platformapi/startapp?appId=2018032102418674&page=pages/item/view/view?id%3Dcp1380&query=id%3Dcp1380%26open_from%3Dlive_xzb%26merch_id%3Dsadklasdklsa_dsad">点击我跳转到小程序</a>
  	</div>
  	<script>
  		/*var a = document.getElementById("redi");
  		a.addEventListener("click", function(){
			window.location.href = "alipays://platformapi/startapp?appId=2018032102418674&page=pages/item/view/view?id%3Dcp1380&query=" + encodeURIComponent("aaa=0");
  		}, false)

  		console.log("alipays://platformapi/startapp?appId=2018032102418674&page=pages/item/view/view?id%3Dcp1380&query=" + encodeURIComponent("aaa=0"))*/
  	</script>
  </body> 
</html>  
 