<!DOCTYPE html>
<html>

<head>
    <title>首页</title>
    <link rel="stylesheet" href="https://unpkg.com/iview@3.1.0/dist/styles/iview.css">
    <style type="text/css">
        [v-clock]{
            display: none;
        }
        .container{
            width: 340px;
            margin: 200px auto 0 auto;
            overflow: hidden;
        }
        .title{
            height: 44px;
            line-height: 44px;
            text-align: center;
        }
    </style>
</head>

<body class="views">
    <div v-clock id="app">
        <div class="container">
        	<div class="title">管理员后台</div>
           	<i-form ref="formInline" :model="formInline" :rules="ruleInline">
    	        <form-item prop="user">
    	            <i-input type="text" v-model="formInline.user" placeholder="用户名">
    	                <Icon type="ios-person-outline" slot="prepend"></Icon>
    	            </i-input>
    	        </form-item>
    	        <form-item prop="password">
    	            <i-input type="password" v-model="formInline.password" placeholder="密码">
    	                <Icon type="ios-lock-outline" slot="prepend"></Icon>
    	            </i-input>
    	        </form-item>
    	        <form-item>
    	            <i-button long type="primary" @click="handleSubmit('formInline')">登录</i-button>
    	        </form-item>
    	    </i-form>
        </div>
    </div>
</body>
<script src="/js/vue2.5.17.js"></script>
<script src="/js/vue-resource1.5.1.js"></script>
<script src="/js/iview3.1.0.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data:{
            formInline: {
                user: '',
                password: ''
            },
            ruleInline: {
                user: [
                    { 
                    	required: true, 
                    	message: '请输入您的用户名!', 
                    	trigger: 'blur' 
                    }
                ],
                password: [
                    { 
                    	required: true, 
                    	message: '请输入您的密码!', 
                    	trigger: 'blur' 
                    },
                    { 
                    	type: 'string', 
                    	min: 6, 
                    	message: '密码最少6位!', 
                    	trigger: 'blur' 
                    }
                ]
            }
    	},
        methods: {
            handleSubmit(name) {
                var self = this;
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        Vue.http.post('/auth/login', {
                            username: this.formInline.user,
                            password: this.formInline.password 
                        }).then((res) => {
                            if(res.body.status === 0){
                                window.location.href = res.body.data.url;
                            }else{
                               self.$Message.error(res.body.error); 
                            }
                        }, (res)=>{
                            self.$Message.error('请求失败，请查看网络！');
                        });
                    } else {
                        self.$Message.error('Fail!');
                    }
                })
            }
        }
    })
</script>
</html>